.main {
  list-style-type: none;
  padding-left: 0;
  padding-top: 32px;
}

.img {
  display: block;
  width: 96px;
  height: 96px;
  padding: 5px;
  border-radius: 50%;
  border: 3px solid #bfd6ea;
}

.card {
  display: flex;
  border-radius: 24px;
  padding: 24px;
  background-color: #ffff;
  margin-bottom: 32px;
  gap: 48px;
}

.cardtext {
  text-align: left;
}
.span {
  color: rgba(18, 20, 23, 0.2);
}
.p {
  font-weight: 500;
  font-size: 18px;
  line-height: 111%;
}
.name {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #121417;
  background-color: #fff;
  padding: 0;
}
