.btnlogin {
  color: #121417;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  display: inline-flex;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btnregister {
  color: #ffffff;
  background-color: #121417;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
}

.iconlogin {
  margin-right: 4px;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

.div {
  display: flex;
  gap: 8px;
}

.h1 {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: -0.02em;
  text-align: left;
}

.p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.inputContainer {
  display: flex;
  padding: 16px 380px 16px 18px;
  gap: 18px;
  border-radius: 12px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}
